# name: Deploy Application Docker Image to Render instance

on:
  push:
    branches: [main]

jobs:
  Continuous-Integration:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Trigger Render Display
        env: 
          HEALTH_CHECK_API: ${{secrets.RENDER_API_KEY}}
        run: |
          curl -X POST https://api.render.com/deploy.srv-d4nendi4d50c73fdt84g?key=$RENDER_API_KEY

